/* Default Color Definitions */
@theme {
  --color-th-foreground-50: var(--color-primary-50);
  --color-th-foreground-100: var(--color-primary-100);
  --color-th-foreground-200: var(--color-primary-200);
  --color-th-foreground-300: var(--color-primary-300);
  --color-th-foreground-400: var(--color-primary-400);
  --color-th-foreground-500: var(--color-primary-500);
  --color-th-foreground-600: var(--color-primary-600);
  --color-th-foreground-700: var(--color-primary-700);
  --color-th-foreground-800: var(--color-primary-800);
  --color-th-foreground-900: var(--color-primary-900);
  --color-th-foreground-950: var(--color-primary-950);

  --color-th-background-50: var(--color-surface-50);
  --color-th-background-100: var(--color-surface-100);
  --color-th-background-200: var(--color-surface-200);
  --color-th-background-300: var(--color-surface-300);
  --color-th-background-400: var(--color-surface-400);
  --color-th-background-500: var(--color-surface-500);
  --color-th-background-600: var(--color-surface-600);
  --color-th-background-700: var(--color-surface-700);
  --color-th-background-800: var(--color-surface-800);
  --color-th-background-900: var(--color-surface-900);
  --color-th-background-950: var(--color-surface-950);

  --color-th-foreground-contrast-50: var(--color-primary-950);
  --color-th-foreground-contrast-100: var(--color-primary-950);
  --color-th-foreground-contrast-200: var(--color-primary-950);
  --color-th-foreground-contrast-300: var(--color-primary-950);
  --color-th-foreground-contrast-400: var(--color-primary-950);
  --color-th-foreground-contrast-500: var(--color-primary-950);
  --color-th-foreground-contrast-600: var(--color-primary-50);
  --color-th-foreground-contrast-700: var(--color-primary-50);
  --color-th-foreground-contrast-800: var(--color-primary-50);
  --color-th-foreground-contrast-900: var(--color-primary-50);
  --color-th-foreground-contrast-950: var(--color-primary-50);

  --color-th-background-contrast-50: var(--color-surface-950);
  --color-th-background-contrast-100: var(--color-surface-950);
  --color-th-background-contrast-200: var(--color-surface-950);
  --color-th-background-contrast-300: var(--color-surface-950);
  --color-th-background-contrast-400: var(--color-surface-950);
  --color-th-background-contrast-500: var(--color-surface-50);
  --color-th-background-contrast-600: var(--color-surface-50);
  --color-th-background-contrast-700: var(--color-surface-50);
  --color-th-background-contrast-800: var(--color-surface-50);
  --color-th-background-contrast-900: var(--color-surface-50);
  --color-th-background-contrast-950: var(--color-surface-50);
}

@theme inline {
  /* Color Set Pairings */
  --color-th-foreground-50-950: light-dark(var(--color-th-foreground-50), var(--color-th-foreground-950));
  --color-th-foreground-100-900: light-dark(var(--color-th-foreground-100), var(--color-th-foreground-900));
  --color-th-foreground-200-800: light-dark(var(--color-th-foreground-200), var(--color-th-foreground-800));
  --color-th-foreground-300-700: light-dark(var(--color-th-foreground-300), var(--color-th-foreground-700));
  --color-th-foreground-400-600: light-dark(var(--color-th-foreground-400), var(--color-th-foreground-600));
  --color-th-foreground-600-400: light-dark(var(--color-th-foreground-600), var(--color-th-foreground-400));
  --color-th-foreground-700-300: light-dark(var(--color-th-foreground-700), var(--color-th-foreground-300));
  --color-th-foreground-800-200: light-dark(var(--color-th-foreground-800), var(--color-th-foreground-200));
  --color-th-foreground-900-100: light-dark(var(--color-th-foreground-900), var(--color-th-foreground-100));
  --color-th-foreground-950-50: light-dark(var(--color-th-foreground-950), var(--color-th-foreground-50));

  --color-th-background-50-950: light-dark(var(--color-th-background-50), var(--color-th-background-950));
  --color-th-background-100-900: light-dark(var(--color-th-background-100), var(--color-th-background-900));
  --color-th-background-200-800: light-dark(var(--color-th-background-200), var(--color-th-background-800));
  --color-th-background-300-700: light-dark(var(--color-th-background-300), var(--color-th-background-700));
  --color-th-background-400-600: light-dark(var(--color-th-background-400), var(--color-th-background-600));
  --color-th-background-600-400: light-dark(var(--color-th-background-600), var(--color-th-background-400));
  --color-th-background-700-300: light-dark(var(--color-th-background-700), var(--color-th-background-300));
  --color-th-background-800-200: light-dark(var(--color-th-background-800), var(--color-th-background-200));
  --color-th-background-900-100: light-dark(var(--color-th-background-900), var(--color-th-background-100));
  --color-th-background-950-50: light-dark(var(--color-th-background-950), var(--color-th-background-50));

  /* Color Contrast Pairings */
  --color-th-foreground-contrast-50-950: light-dark(var(--color-th-foreground-contrast-50), var(--color-th-foreground-contrast-950));
  --color-th-foreground-contrast-100-900: light-dark(var(--color-th-foreground-contrast-100), var(--color-th-foreground-contrast-900));
  --color-th-foreground-contrast-200-800: light-dark(var(--color-th-foreground-contrast-200), var(--color-th-foreground-contrast-800));
  --color-th-foreground-contrast-300-700: light-dark(var(--color-th-foreground-contrast-300), var(--color-th-foreground-contrast-700));
  --color-th-foreground-contrast-400-600: light-dark(var(--color-th-foreground-contrast-400), var(--color-th-foreground-contrast-600));
  --color-th-foreground-contrast-600-400: light-dark(var(--color-th-foreground-contrast-600), var(--color-th-foreground-contrast-400));
  --color-th-foreground-contrast-700-300: light-dark(var(--color-th-foreground-contrast-700), var(--color-th-foreground-contrast-300));
  --color-th-foreground-contrast-800-200: light-dark(var(--color-th-foreground-contrast-800), var(--color-th-foreground-contrast-200));
  --color-th-foreground-contrast-900-100: light-dark(var(--color-th-foreground-contrast-900), var(--color-th-foreground-contrast-100));
  --color-th-foreground-contrast-950-50: light-dark(var(--color-th-foreground-contrast-950), var(--color-th-foreground-contrast-50));

  --color-th-background-contrast-50-950: light-dark(var(--color-th-background-contrast-50), var(--color-th-background-contrast-950));
  --color-th-background-contrast-100-900: light-dark(var(--color-th-background-contrast-100), var(--color-th-background-contrast-900));
  --color-th-background-contrast-200-800: light-dark(var(--color-th-background-contrast-200), var(--color-th-background-contrast-800));
  --color-th-background-contrast-300-700: light-dark(var(--color-th-background-contrast-300), var(--color-th-background-contrast-700));
  --color-th-background-contrast-400-600: light-dark(var(--color-th-background-contrast-400), var(--color-th-background-contrast-600));
  --color-th-background-contrast-600-400: light-dark(var(--color-th-background-contrast-600), var(--color-th-background-contrast-400));
  --color-th-background-contrast-700-300: light-dark(var(--color-th-background-contrast-700), var(--color-th-background-contrast-300));
  --color-th-background-contrast-800-200: light-dark(var(--color-th-background-contrast-800), var(--color-th-background-contrast-200));
  --color-th-background-contrast-900-100: light-dark(var(--color-th-background-contrast-900), var(--color-th-background-contrast-100));
  --color-th-background-contrast-950-50: light-dark(var(--color-th-background-contrast-950), var(--color-th-background-contrast-50));
}
