@theme {
  --default-font-family: "Host Grotesk", sans-serif;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --color-transparent: transparent;

  /* 
    Colors are wrapped in another variable, this way if user inputs their own colors and even 
    their own color set names this would still work. If user has no overrided variables we switch back to default.
   */
  --color-foreground-50: var(--color-primary-50);
  --color-foreground-100: var(--color-primary-100);
  --color-foreground-200: var(--color-primary-200);
  --color-foreground-300: var(--color-primary-300);
  --color-foreground-400: var(--color-primary-400);
  --color-foreground-500: var(--color-primary-500);
  --color-foreground-600: var(--color-primary-600);
  --color-foreground-700: var(--color-primary-700);
  --color-foreground-800: var(--color-primary-800);
  --color-foreground-900: var(--color-primary-900);
  --color-foreground-950: var(--color-primary-950);

  --color-background-50: var(--color-surface-50);
  --color-background-100: var(--color-surface-100);
  --color-background-200: var(--color-surface-200);
  --color-background-300: var(--color-surface-300);
  --color-background-400: var(--color-surface-400);
  --color-background-500: var(--color-surface-500);
  --color-background-600: var(--color-surface-600);
  --color-background-700: var(--color-surface-700);
  --color-background-800: var(--color-surface-800);
  --color-background-900: var(--color-surface-900);
  --color-background-950: var(--color-surface-950);

  --color-contrast-foreground-50: var(--color-primary-950);
  --color-contrast-foreground-100: var(--color-primary-950);
  --color-contrast-foreground-200: var(--color-primary-950);
  --color-contrast-foreground-300: var(--color-primary-950);
  --color-contrast-foreground-400: var(--color-primary-950);
  --color-contrast-foreground-500: var(--color-primary-950);
  --color-contrast-foreground-600: var(--color-primary-50);
  --color-contrast-foreground-700: var(--color-primary-50);
  --color-contrast-foreground-800: var(--color-primary-50);
  --color-contrast-foreground-900: var(--color-primary-50);
  --color-contrast-foreground-950: var(--color-primary-50);

  --color-contrast-background-50: var(--color-surface-950);
  --color-contrast-background-100: var(--color-surface-950);
  --color-contrast-background-200: var(--color-surface-950);
  --color-contrast-background-300: var(--color-surface-950);
  --color-contrast-background-400: var(--color-surface-950);
  --color-contrast-background-500: var(--color-surface-50);
  --color-contrast-background-600: var(--color-surface-50);
  --color-contrast-background-700: var(--color-surface-50);
  --color-contrast-background-800: var(--color-surface-50);
  --color-contrast-background-900: var(--color-surface-50);
  --color-contrast-background-950: var(--color-surface-50);
}

@theme inline {
  /* Color Set Pairings */
  --color-foreground-50-950: light-dark(var(--color-foreground-50), var(--color-foreground-950));
  --color-foreground-100-900: light-dark(var(--color-foreground-100), var(--color-foreground-900));
  --color-foreground-200-800: light-dark(var(--color-foreground-200), var(--color-foreground-800));
  --color-foreground-300-700: light-dark(var(--color-foreground-300), var(--color-foreground-700));
  --color-foreground-400-600: light-dark(var(--color-foreground-400), var(--color-foreground-600));
  --color-foreground-600-400: light-dark(var(--color-foreground-600), var(--color-foreground-400));
  --color-foreground-700-300: light-dark(var(--color-foreground-700), var(--color-foreground-300));
  --color-foreground-800-200: light-dark(var(--color-foreground-800), var(--color-foreground-200));
  --color-foreground-900-100: light-dark(var(--color-foreground-900), var(--color-foreground-100));
  --color-foreground-950-50: light-dark(var(--color-foreground-950), var(--color-foreground-50));

  --color-background-50-950: light-dark(var(--color-background-50), var(--color-background-950));
  --color-background-100-900: light-dark(var(--color-background-100), var(--color-background-900));
  --color-background-200-800: light-dark(var(--color-background-200), var(--color-background-800));
  --color-background-300-700: light-dark(var(--color-background-300), var(--color-background-700));
  --color-background-400-600: light-dark(var(--color-background-400), var(--color-background-600));
  --color-background-600-400: light-dark(var(--color-background-600), var(--color-background-400));
  --color-background-700-300: light-dark(var(--color-background-700), var(--color-background-300));
  --color-background-800-200: light-dark(var(--color-background-800), var(--color-background-200));
  --color-background-900-100: light-dark(var(--color-background-900), var(--color-background-100));
  --color-background-950-50: light-dark(var(--color-background-950), var(--color-background-50));

  /* Color Contrast Pairings */
  --color-contrast-foreground-50-950: light-dark(
    var(--color-contrast-foreground-50),
    var(--color-contrast-foreground-950)
  );
  --color-contrast-foreground-100-900: light-dark(
    var(--color-contrast-foreground-100),
    var(--color-contrast-foreground-900)
  );
  --color-contrast-foreground-200-800: light-dark(
    var(--color-contrast-foreground-200),
    var(--color-contrast-foreground-800)
  );
  --color-contrast-foreground-300-700: light-dark(
    var(--color-contrast-foreground-300),
    var(--color-contrast-foreground-700)
  );
  --color-contrast-foreground-400-600: light-dark(
    var(--color-contrast-foreground-400),
    var(--color-contrast-foreground-600)
  );
  --color-contrast-foreground-600-400: light-dark(
    var(--color-contrast-foreground-600),
    var(--color-contrast-foreground-400)
  );
  --color-contrast-foreground-700-300: light-dark(
    var(--color-contrast-foreground-700),
    var(--color-contrast-foreground-300)
  );
  --color-contrast-foreground-800-200: light-dark(
    var(--color-contrast-foreground-800),
    var(--color-contrast-foreground-200)
  );
  --color-contrast-foreground-900-100: light-dark(
    var(--color-contrast-foreground-900),
    var(--color-contrast-foreground-100)
  );
  --color-contrast-foreground-950-50: light-dark(
    var(--color-contrast-foreground-950),
    var(--color-contrast-foreground-50)
  );

  --color-contrast-background-50-950: light-dark(
    var(--color-contrast-background-50),
    var(--color-contrast-background-950)
  );
  --color-contrast-background-100-900: light-dark(
    var(--color-contrast-background-100),
    var(--color-contrast-background-900)
  );
  --color-contrast-background-200-800: light-dark(
    var(--color-contrast-background-200),
    var(--color-contrast-background-800)
  );
  --color-contrast-background-300-700: light-dark(
    var(--color-contrast-background-300),
    var(--color-contrast-background-700)
  );
  --color-contrast-background-400-600: light-dark(
    var(--color-contrast-background-400),
    var(--color-contrast-background-600)
  );
  --color-contrast-background-600-400: light-dark(
    var(--color-contrast-background-600),
    var(--color-contrast-background-400)
  );
  --color-contrast-background-700-300: light-dark(
    var(--color-contrast-background-700),
    var(--color-contrast-background-300)
  );
  --color-contrast-background-800-200: light-dark(
    var(--color-contrast-background-800),
    var(--color-contrast-background-200)
  );
  --color-contrast-background-900-100: light-dark(
    var(--color-contrast-background-900),
    var(--color-contrast-background-100)
  );
  --color-contrast-background-950-50: light-dark(
    var(--color-contrast-background-950),
    var(--color-contrast-background-50)
  );
}
